/*---------------------------
---- SKTBUYBTN FRONT CSS ----
----------------------------*/
#sktbuybtn{display: block; position: fixed;z-index: 99999999;margin:10px;}
#sktbuybtn a.sktbuybtn_button{outline:none;color: #FFFFFF;display:inline-block;font-family: verdana;font-size: 15px;padding: 14px 15px;text-decoration: none;text-transform: uppercase;border-radius: 2px 2px 2px 2px;line-height:22px;transition: all 0.3s linear 0s;-webkit-transition: all 0.3s linear 0s; -moz-transition: all 0.3s linear 0s; -o-transition: all 0.3s linear 0s; }
#sktbuybtn a:hover { transform: translate(-5px, 0px); -webkit-transform: translate(-5px, 0px); -moz-transform: translate(-5px, 0px); -o-transform: translate(-5px, 0px); -ms-transform: translate(-5px, 0px); } 